# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/
instance/
*.egg-info/

# Node
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db